
.form-control1 {
-webkit-transition: none;
transition: none;
width: 32px;
height: 32px;
text-align: center
}

.form-control1:focus {
color: #3F4254;
background-color: #ffffff;
border-color: #884377;
outline: 0;
}

.form-control1.form-control-solid {
background-color: #F3F6F9;
border-color: #F3F6F9;
color: #3F4254;
transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.form-control1.form-control-solid:active,
.form-control1.form-control-solid.active,
.form-control1.form-control-solid:focus,
.form-control1.form-control-solid.focus {
background-color: #EBEDF3;
border-color: #EBEDF3;
color: #3F4254;
transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}